<%- presenter.rights_statement_merged.each_with_index do |(uri, label), index| -%>
<tr>
  <% if index.zero? %>
  <th rowspan="<%= presenter.rights_statement_merged.size %>">
    <%= t('blacklight.search.fields.rights_statement') %>
  </th>
  <% end %>
  <td>
    <%= rights_statement_icon(uri, label) %>
    <%= label %>
  </td>
</tr>
<% end %>

<%= presenter.attribute_to_html(:rights_holder) %>
