<div class="panel panel-default">
  <table class="table table-bordered work-show <%= dom_class(presenter) %> metadata-table">
    <tbody>
      <%= presenter.attribute_to_html(:title) %>
      <%= presenter.attribute_to_html(:date) %>
      <%= presenter.attribute_to_html(:resource_type, render_as: :faceted) %>
      <%= presenter.attribute_to_html(:keyword, render_as: :faceted) %>
      <%= presenter.attribute_to_html(:location,
                                      render_as: :external_authority,
                                      search_field: :location_label_sim) %>
      <%= presenter.attribute_to_html(:standard_identifier, render_as: :identifier) %>
      <%= presenter.attribute_to_html(:permalink) %>

      <%= render 'shared/metadata/rights_statement', presenter: presenter %>
    </tbody>
  </table>
</div>
