<%# overriding the metadata display for Publications %>
<div class="panel panel-default">
  <table class="table table-bordered work-show <%= dom_class(presenter) %>">
    <tbody>
      <%= presenter.attribute_to_html(:title) %>
      <%= presenter.attribute_to_html(:subtitle, show_help_text: true) %>
      <%= presenter.attribute_to_html(:title_alternative) %>
      <%= presenter.attribute_to_html(:creator, render_as: :faceted) %>
      <%= presenter.attribute_to_html(:contributor, render_as: :faceted) %>
      <%= presenter.attribute_to_html(:editor, render_as: :faceted) %>
      <%= presenter.attribute_to_html(:publisher, render_as: :faceted) %>
      <%= presenter.attribute_to_html(:source, render_as: :faceted) %>
      <%= presenter.attribute_to_html(:academic_department, render_as: :faceted) %>
      <%= presenter.attribute_to_html(:division, render_as: :faceted) %>
      <%= presenter.attribute_to_html(:organization, render_as: :faceted) %>
      <%= presenter.attribute_to_html(:date_issued) %>
      <%= presenter.attribute_to_html(:date_available) %>
      <%= presenter.attribute_to_html(:resource_type, render_as: :faceted) %>
      <%= presenter.attribute_to_html(:physical_medium) %>
      <%= presenter.attribute_to_html(:language_label,
                                      render_as: :faceted,
                                      search_field: :language_label_ssim) %>
      <%= presenter.attribute_to_html(:subject, render_as: :faceted) %>
      <%= presenter.attribute_to_html(:keyword, render_as: :faceted) %>
      <%= presenter.attribute_to_html(:place,
                                      render_as: :external_authority,
                                      search_field: :place_label_ssim) %>
      <%= presenter.attribute_to_html(:bibliographic_citation) %>

      <%= render 'shared/metadata/identifiers', presenter: presenter %>
      <%= presenter.attribute_to_html(:related_resource) %>

      <%= render 'shared/metadata/rights_statement', presenter: presenter %>
    </tbody>
  </table>
</div>
