<% provide(:page_header) do %>
  <h1><%= t 'spot.dashboard.fixity.title' %></h1>
<% end %>

<div class="panel panel-default">
  <div class="alert alert-<%= @error_count == 0 ? 'success' : 'danger' %>">
    <%= t 'spot.dashboard.fixity.heading', errors: pluralize(@error_count, 'error') %>
    <%= t 'spot.dashboard.fixity.frequency' %>
  </div>
<% if @errors.present? %>
  <div class="panel-body">
    <%= render 'errors_table', errors: @errors %>
  </div>
  <div class="panel-footer">
    <%= paginate @errors, window: 2, theme: 'blacklight' %>
  </div>
<% end %>
</div>
