<footer class="site-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <h4><%= t('hyrax.product_name') %></h4>
        <% if site_last_updated.present? %>
        <p><a href="https://github.com/LafayetteCollegeLibraries/spot"><%= t('spot.footer.last_updated', date: site_last_updated) %></a></p>
        <p><a href="https://hyrax.samvera.org/">Powered by Hyrax</a></p>
        <% end %>
      </div>
      <div class="col-sm-5 col-sm-offset-3">
        <div class="col-sm-6">
          <ul>
            <li><%= link_to 'Learn more about the repository', main_app.about_path %></li>
            <li><%= link_to 'Get help using the repository', main_app.help_path %></li>
            <li><%= link_to 'Contact us', hyrax.contact_path %></li>
            <li><%= link_to 'Terms of Use', main_app.terms_of_use_path %></li>
          </ul>
        </div>
        <div class="col-sm-6">
          <ul>
            <li><%= link_to t('spot.links.department.name'), t('spot.links.department.url') %></li>
            <li><%= link_to t('spot.links.library.name'), t('spot.links.library.url') %></li>
            <li><%= link_to t('spot.links.lafayette.name'), t('spot.links.lafayette.url') %></li>
            <li><%= link_to t('spot.links.a18y_remediation.name'), t('spot.links.a18y_remediation.url') %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
