<footer class="site-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <h4><%= t('hyrax.product_name') %></h4>
        <p>Version: <%= SPOT_VERSION %>, last updated: <%= LAST_DEPLOYED %></p>
        <% unless current_user %>
        <p>
          <%= link_to main_app.new_user_session_path, class: 'btn btn-info' do %>
            <span class="glyphicon glyphicon-log-in"></span>
            <%= t('spot.log_in') %>
          <% end %>
        </p>
        <% end %>
      </div>

      <div class="col-sm-3">
        <p>
          <ul>
            <li><%= link_to 'Learn more about the repostory', '#' %></li>
            <li><%= link_to 'Get help using the repository', '#' %></li>
          </ul>
        </p>
      </div>

      <div class="col-sm-3">
        <p>
          <ul>
            <li><%= link_to 'Digital Scholarship Services', '#' %></li>
            <li><%= link_to 'Skillman Library', '#' %></li>
            <li><%= link_to 'Lafayette College', '#' %></li>
          </ul>
        </p>
      </div>

      <div class="col-sm-3">
        <div class="navbar-text text-right">
          <%= render 'shared/debug_info' if Rails.env.development? || ENV['SHOW_DEBUG_FOOTER'] %>
        </div>
      </div>
    </div>
  </div>
</footer>
