<% provide(:page_title) { t('.page_title', name: application_name) } %>

<div class="page-header">
  <h1><%= t('.header', name: application_name) %></h1>
</div>

<%= image_tag('about-splash.jpg', class: 'splash-image img-responsive') %>

<p>
  The Lafayette Digital Repository (LDR) is both an institutional repository and
  an access portal to Lafayette College Library’s Digital Collections. In
  accordance with the departmental <%= link_to('mission of Digital Scholarship Services', 'https://dss.lafayette.edu/about/', target: '_blank') %>
  of Digital Scholarship Services, the LDR supports the activities of the
  College’s faculty, researchers, students, and community partners by preserving,
  curating, and disseminating digital resources.  The LDR enacts the Libraries’
  ongoing <%= link_to("Libraries’ ongoing mission", 'https://library.lafayette.edu/about/about-the-lafayette-libraries/', target: '_blank') %>
  of providing information resources and services to help Lafayette faculty
  and students attain their goals as teachers, scholars, and learners, through
  the creation and maintenance of accessible digital collections, scholarly
  output, and other digital materials that have enduring value for intellectual
  inquiry and documentation of College activities.
</p>

<div class="panel panel-primary" id="note-about-content">
  <div class="panel-heading">
    <h3 class="panel-title">A Note About Content</h3>
  </div>

  <div class="panel-body">
    <p>
      The Lafayette Digital Repository (LDR) makes unique and historical materials accessible for study and research.
      These materials represent the context in which they were created and the perspectives of their creators, and
      may contain depictions of racism, anti-semitism, misogyny, homophobia, violence, and other challenging or offensive
      attitudes and actions. The materials do not reflect the values of Lafayette College or the Digital Scholarship
      Services department. By providing access to these records in our digital collections, we acknowledge the role that
      digital archives play in learning from the past.
    </p>

    <p>
      Item metadata in the LDR re-uses language provided by creators on or within the resources themselves, in accordance
      with best practices for archival description. We strive to place outdated or offensive terminology in context through
      curation and critical descriptive information.  We also welcome feedback from users so that we can learn and adjust
      our practices. Please contact us at <%= mail_to "repository@lafayette.edu" %> if you encounter problematic language or would like to
      give feedback about descriptive information accompanying an item or collection in the LDR.
    </p>
  </div>
</div>

<h2 id="faculty-scholarship">Faculty Scholarship and the LDR</h2>
<p>
  The Lafayette College faculty passed an open access resolution in April, 2011.
  Faculty are encouraged to share their research outputs via inclusion in the
  Lafayette Digital Repository. Flexible access and visibility controls are
  available for deposited content.
</p>

<h2 id="why-submit-your-content">Why submit your content to the LDR?</h2>
<ul>
  <li>boost the search engine discoverability of your research</li>
  <li>provide persistent access to your research over time (i.e. prevent “link rot" in citations to your work)</li>
  <li>satisfy funding agency requirements for sharing and preserving research data and published findings</li>
  <li>preserve your work for the long term in an institutional environment</li>
</ul>
<p>
  Members of the faculty and administrative departments may use the
  <%= link_to 'LDR submission form', 'https://library.lafayette.edu/lafayette-digital-repository-submission-form/' %>
  to deposit articles to the Lafayette Digital Repository.  For other content types, such as presentations,
  research data, audiovisual materials, etc. please contact Nora Zimmerman, Digital Repository Librarian,
  at <%= mail_to 'zimmerno@lafayette.edu' %> for more information.
</p>

<h2 id="policies">Policies</h2>

<h3 id="copyright-and-uses">Copyright and Use</h3>
<p>
  Please consult the <%= link_to "Special Collections Copyright, Reproduction & Use Policies", "https://archives.lafayette.edu/copyright-reproduction-use/" %>
  for information about using and sharing content from Lafayette College Archives & Special Collections that is made available in the LDR. If you have further
  questions about these materials, please contact <%= mail_to "archives@lafayette.edu" %>. 
</p>

<h3 id="preservation-support-policy">Preservation Support Policy</h3>
<p>
  The Lafayette Digital Repository is committed to providing sustainable
  and trustworthy long-term access to content according to international
  best practices for digital preservation.
</p>
<p>
  All resources in the LDR are assigned unique persistent identifiers by
  the repository system, as well as persistent URLs through the Handle.net
  registry. Bit-level preservation of digital objects and metadata is
  managed through the generation of checksum hashes and performance of
  fixity checking at regular intervals.
</p>

<p>
  Beyond these initial preservation activities, the LDR team is developing
  a broader preservation policy and action plan.  Details about new services
  and preservation planning will be announced as they are approved by
  Library and College stakeholders.
</p>
