<div class="col-md-10">
  <div class="metadata">
    <dl class="dl-horizontal">
    <% doc_presenter = index_presenter(document) %>
    <% index_fields(document).each do |field_name, field| -%>
      <% if should_render_index_field? document, field %>
          <dt><%= render_index_field_label document, field: field_name %></dt>
          <dd><%= doc_presenter.field_value field %></dd>
      <% end %>
    <% end %>
    <%# there's probably a better way to do this, but we want to ensure that
        the permalink is always at the bottom when it exists %>
    <% if document.permalink.present? %>
      <dt><%= t 'blacklight.search.fields.permalink' %></dt>
      <dd><%= document.permalink %></dd>
    <% end %>
    </dl>

    <% highlight_values = extracted_text_highlight_values_for(document) %>
    <% unless highlight_values.length.zero? -%>
      <blockquote class="full-text-excerpt text-muted">
        <p><%= highlight_values.join(' ... ').html_safe %></p>
      </blockquote>
    <% end -%>
  </div>
</div>
