<% provide(:page_header) do %>
  <h1><%= t('role-management.new.title') %></h1>
<% end %>

<% provide(:page_title) do
  t('role-management.new.page_title', app_name: application_name)
end %>

<div class="panel panel-default">
  <div class="panel-body">
    <%= bootstrap_form_for @role, url: role_management.roles_path do |f| %>
      <%= f.text_field :name, label: t('role-management.new.field_name') %>
      <%= f.submit t('role-management.new.add'), class: 'btn btn-info' %>
      <%= link_to t('role-management.new.cancel'), role_management.roles_path, class: 'btn btn-default' %>
    <% end %>
  </div>
</div>
