<% members = presenter.member_presenters_for(presenter.list_of_item_ids_to_display) %>

<div class="panel panel-default">
  <div class="panel-heading panel-heading-slim">
    <h5>Contains</h5>
  </div>
  <table class="table table-bordered metadata-table">
    <tbody>
    <% members.each do |member| %>
      <% model_name = member.model_name.singular.to_sym %>
      <% type = %i[file_set file].include?(model_name) ? 'File' : 'Work' %>
      <% type_class = type == 'File' ? 'default' : 'primary' %>
      <tr>
        <td class="text-center">
          <span class="label label-<%= type_class %>"><%= type %></span>
        </td>
        <td>
          <% if presenter.metadata_only? -%>
            <%= member.first_title %>
          <% else %>
            <%= link_to(member.link_name, contextual_path(member, presenter)) -%>
          <% end %>
        </td>
        <td>Uploaded <%= member.try(:date_uploaded) %></td>
        <td <%= 'colspan="2"'.html_safe if presenter.metadata_only? %>><%= member.permission_badge %></td>
        <% unless presenter.metadata_only? %>
        <td class="text-center">
          <% if model_name == :file_set %>
            <%= render "hyrax/file_sets/actions", file_set: member -%>
          <% end %>
        </td>
        <% end %>
      </tr  >
    <% end %>
    </tbody>
  </table>
</div>
