<div class="panel panel-default">
  <div class="panel-heading">
    <%= render 'work_title', presenter: presenter %>
  </div>
  <div class="panel-body">
    <div class="row">
      <%= render 'workflow_actions_widget', presenter: presenter %>
      <% if current_ability.can?(:edit, presenter.id) %>
      <div class="col-sm-12">
        <%= render 'show_actions', presenter: presenter %>
      </div>
      <% end %>
      <div class="col-sm-12 work-representative-media">
        <% if display_info_alert?(presenter) %>
          <%= render 'restricted_access_alert', presenter: presenter %>
        <% end %>

        <% unless presenter.metadata_only? %>
          <%= render 'representative_media', presenter: presenter, viewer: presenter.iiif_viewer? %>
        <% end %>
      </div>

      <div class="col-sm-12 work-metadata">
        <%= render('export_tools', presenter: presenter) unless presenter.metadata_only? %>
        <%= render 'work_description', presenter: presenter %>
        <%= render 'metadata', presenter: presenter %>
        <%= render 'items_table', presenter: presenter %>

        <% if current_user && current_user.admin? %>
          <%= render 'repository_metadata', presenter: presenter %>
        <% end %>
      </div>
    </div>
  </div>
</div>
