<div class="panel panel-default">
  <div class="panel-heading">
    <%= render 'work_title', presenter: @presenter %>
  </div>
  <div class="panel-body">
    <div class="row">
      <%= render 'workflow_actions_widget', presenter: @presenter %>
      <div class="col-sm-12">
        <%= render 'show_actions', presenter: @presenter %>
      </div>
      <div class="col-sm-12 work-representative-media">
        <%= render 'representative_media', presenter: @presenter, viewer: @presenter.iiif_viewer? %>
      </div>
      <%# <div class="col-sm-3 text-center"> %>
        <%# render 'citations', presenter: @presenter %>
        <%# render 'social_media' %>
      <%# </div> %>
      <div class="col-sm-12">
        <%= render 'work_description', presenter: @presenter %>
        <%= render 'metadata', presenter: @presenter %>

        <% if current_user && current_user.admin? %>
          <%= render 'shared/metadata/repository_metadata', presenter: presenter %>
        <% end %>
      </div>
    </div>
  </div>
</div>
