<div class="panel panel-default">
  <div class="panel-heading panel-heading-slim">
    <h5>Repository History</h5>
  </div>
  <table class="table table-bordered metadata-table">
    <tbody>
      <%= presenter.attribute_to_html(:note) %>
      <%= presenter.attribute_to_html(:admin_set, render_as: :faceted, search_field: :admin_set_sim) %>
      <%= presenter.attribute_to_html(:depositor, render_as: :faceted, search_field: :depositor_ssim) %>
      <%= presenter.attribute_to_html(:date_created) %>
      <%= presenter.attribute_to_html(:date_uploaded) %>
      <%= presenter.attribute_to_html(:date_modified) %>
      <%= presenter.attribute_to_html(:local_identifier, render_as: :identifier, local: true) %>
      <tr>
        <th>Workflow status</th>
        <td><%= presenter.workflow.badge %></td>
      </tr>
    </tbody>
  </table>
</div>
